{{#if logged_in}}
  <h1>Welcome, {{username}}!</h1>
  <h2>Your Blog Posts</h2>
  {{#each blogs}}
    <div class="post">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <p>Date Created: {{format_date date_created}}</p>
      <a href="/blog/{{id}}">Edit</a>
      <a href="#" class="delete-post-btn" data-post-id="{{id}}">Delete</a>
    </div>
  {{/each}}
  <a href="/blog/create">Create a New Post</a>
  <a href="/logout">Logout</a>
{{else}}
  <h1>Please log in to access your dashboard</h1>
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
{{/if}}
