<div class="center-text">
{{#if logged_in}}
  <h1>Welcome, User!</h1>
  <!-- Render existing blog posts -->
  {{#each blogs}}
    <div class="post">
      <h2>{{title}}</h2>
      <p>Posted by: {{user.username}}</p>
      <p>{{description}}</p>
      <a href="/blog/{{id}}">Read more</a>
    </div>
  {{/each}}
  <a href="/dashboard">Go to Dashboard</a>
  <a href="/logout">Logout</a>
{{else}}
  <h1>Welcome to the Blog Site</h1>
  <!-- Render existing blog posts -->
  {{#each blogs}}
    <div class="post">
      <h2>{{title}}</h2>
      <p>Posted by: {{user.username}}</p>
      <p>{{description}}</p>
      <a href="/blog/{{id}}">Read more</a>
    </div>
  {{/each}}
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
{{/if}}
</div>
